<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772805278692-jrp9jp96ape92pd4is0032chnn7vt23s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772805278692-jrp9jp96ape92pd4is0032chnn7vt23s</string>
	<key>API_KEY</key>
	<string>AIzaSyCCK8rRcS2E_40L9JxUll_NJJKPSQ-v_Js</string>
	<key>GCM_SENDER_ID</key>
	<string>772805278692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ak.app.FireBaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-78f88</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-78f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772805278692:ios:fbee2a5d15be6ac1d0e5f1</string>
</dict>
</plist>